{% extends 'base.html.twig' %}

{% block title %}Reserver{% endblock %}

{% block body %}
    <h1>Reserver</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserver.id }}</td>
            </tr>
            <tr>
                <th>H_debut</th>
                <td>{{ reserver.HDebut ? reserver.HDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>H_fin</th>
                <td>{{ reserver.HFin ? reserver.HFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Confirmation</th>
                <td>{{ reserver.confirmation ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reserver_index') }}">back to list</a>

    <a href="{{ path('reserver_edit', {'id': reserver.id}) }}">edit</a>

    {{ include('reserver/_delete_form.html.twig') }}
{% endblock %}
