{% extends 'base.html.twig' %}

{% block title %}Disponibilite index{% endblock %}

{% block body %}
    <h1>Disponibilite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heure_fin</th>
                <th>Date_dispo</th>
                <th>Heure_debut</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disponibilite in disponibilites %}
            <tr>
                <td>{{ disponibilite.id }}</td>
                <td>{{ disponibilite.heureFin ? disponibilite.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ disponibilite.dateDispo ? disponibilite.dateDispo|date('Y-m-d') : '' }}</td>
                <td>{{ disponibilite.heureDebut ? disponibilite.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ disponibilite.duree ? disponibilite.duree|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('disponibilite_show', {'id': disponibilite.id}) }}">show</a>
                    <a href="{{ path('disponibilite_edit', {'id': disponibilite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('disponibilite_new') }}">Create new</a>
{% endblock %}
