{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-3 p-5" style="background-color: #b2f3e5">
                        <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                            {% for promotion in promotions %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.index == 1 %} active {% endif %}" id="{{ 'promotion'~promotion.id }}" data-toggle="tab" href="{{ '#promo' ~promotion.id }}" role="tab" aria-controls="home" aria-selected="{% if loop.index == 1 %} true {% endif %}">{{ promotion.nom }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-9">
                        <div class="tab-content no-padding" id="myTab2Content">
                            {% for promotion in promotions %}
                                <div class="tab-pane fade {% if loop.index == 1 %} active show {% endif %}" id="promo{{ promotion.id }}" role="tabpanel" aria-labelledby="promotion{{ promotion.id }}">
                                    <div class="card-header">
                                        <h4>Liste des eleves de la {{ promotion.nom }}</h4>
                                        <div class="card-header-form">
                                            <form>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Recherche">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary"></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody><tr>
                                                <th>#</th>
                                                <th>Eleve</th>
                                                <th>Parent</th>
                                                <th>Action</th>
                                            </tr>
                                            {% for eleve in promotion.eleves %}
                                            <tr>
                                                <td>1</td>
                                                <td>{{ eleve.nom ~' ' ~eleve.prenom }}</td>
                                                <td>{{ eleve.parents.user.nom ~' ' ~ eleve.parents.user.prenom}}</td>
                                                <td><a href="#" class="btn badge-warning">Prendre RDV</a></td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('prof_promotion_new') }}">Create new</a>
{% endblock %}
