{% extends 'base.html.twig' %}

{% block title %}Disponibilite index{% endblock %}

{% block body %}
    <div class="section-body">

        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-5">
                <div class="card profile-widget">
                    <div class="profile-widget-header">
                        <img alt="image" src="{{ asset('images/user.png') }}" class="rounded-circle profile-widget-picture">
                    </div>
                    <div class="profile-widget-description">
                        <div class="profile-widget-name">{{ app.user.nom }}  {{ app.user.prenom }}<div class="text-muted d-inline font-weight-normal"><div class="slash"></div> MATHEMATIQUES</div></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="card">
                    <form method="post" class="needs-validation" action="{{ path('moncompte') }}">
                        <div class="card-header">
                            <h4>Votre profile</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6 col-12">
                                    <label>Prenom</label>
                                    <input type="text" class="form-control" value="{{ app.user.prenom }}" required="" name="prenom">
                                    <div class="invalid-feedback">
                                        Veuillez renseigner ce champ
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" value="{{ app.user.nom }}" required="" name="nom">
                                    <div class="invalid-feedback">
                                        Veuillez renseigner ce champ
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-7 col-12">
                                    <label>Adresse mail</label>
                                    <input type="email" class="form-control" value="{{ app.user.email }}" required="" name="mail">
                                    <div class="invalid-feedback">
                                        Veuillez renseigner ce champ
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-outline-primary mt-2 w-100 ">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}